source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget NUnit ~> 2
nuget NUnit.Runners ~> 2
nuget FAKE
nuget SourceLink.Fake
nuget Owin
nuget Microsoft.Owin
nuget Microsoft.Owin.Hosting

// nuget Microsoft.AspNet.WebApi.OwinSelfHost
// nuget Microsoft.Owin.StaticFiles

github fsharp/FAKE modules/Octokit/Octokit.fsx
