source https://nuget.org/api/v2

nuget Owin >= 1.0
nuget Microsoft.Owin
nuget Microsoft.Owin.Hosting
nuget Microsoft.Owin.Host.HttpListener
nuget Microsoft.Owin.StaticFiles
nuget FSharp.Core

group standard
  source https://nuget.org/api/v2

  nuget Microsoft.AspNetCore.Http.Abstractions
  nuget Microsoft.AspNetCore.Http.Features
  nuget Microsoft.Extensions.Primitives

// nuget Microsoft.AspNet.WebApi.OwinSelfHost
// nuget Microsoft.Owin.StaticFiles

group Build
  source https://nuget.org/api/v2

  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2

  nuget BenchmarkDotNet
  nuget xunit.core
  nuget xunit.abstractions
  nuget xunit.runner.visualstudio >= 2.0 version_in_path: true
  nuget xunit.runner.console
  nuget FsUnit.xUnit

