type project
title
    Owin.Compression
owners
    Tuomas Hietanen
authors
    Tuomas Hietanen
projectUrl
    http://github.com/Thorium/Owin.Compression
iconUrl
    https://raw.githubusercontent.com/Thorium/Owin.Compression/master/docs/files/img/logo.png
licenseUrl
    http://github.com/Thorium/Owin.Compression/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    OWIN SelfHost eTag AspNetCore GZip Deflate compress pack self host file system pipeline Microsoft
	ASPNET ASP.NET Core Web API Kestrel caching
summary
    Compression (Deflate / GZip) and eTag caching module for Microsoft OWIN Selfhost filesystem pipeline.
	It supports also AspNetCore, for example running WebAPI on .NET6.0+ and Kestrel.
description
    Compression (Deflate / GZip) module for Microsoft OWIN self-host and AspNetCore/Kestrel web servers. Built-in eTag caching. With this module you can compress, deflate / gzip large files (like concatenated *.js or *.css files) to the reduce amount of web traffic.
dependencies
  framework: net48
    Owin >= 1.0.0
    FSharp.Core >= LOCKEDVERSION
    Microsoft.Owin ~> LOCKEDVERSION
  framework: netstandard20
    FSharp.Core >= LOCKEDVERSION
    Microsoft.AspNetCore.Http.Abstractions >= LOCKEDVERSION-standard
    Microsoft.AspNetCore.Http.Features >= LOCKEDVERSION-standard
    Microsoft.Extensions.Primitives >= LOCKEDVERSION-standard
    System.Text.Encodings.Web >= LOCKEDVERSION-standard
  framework: netstandard21
    FSharp.Core >= LOCKEDVERSION
    Microsoft.AspNetCore.Http.Abstractions >= LOCKEDVERSION-standard
    Microsoft.AspNetCore.Http.Features >= LOCKEDVERSION-standard
    Microsoft.Extensions.Primitives >= LOCKEDVERSION-standard
    System.Text.Encodings.Web >= LOCKEDVERSION-standard
files
	../../bin/**/Owin.Compression.dll
	../../bin/**/Owin.Compression.xml
	../../bin/**/Owin.Compression.deps.json
