type project
title
    Owin.Compression
owners
    Tuomas Hietanen
authors
    Tuomas Hietanen
projectUrl
    http://github.com/Thorium/Owin.Compression
iconUrl
    https://raw.githubusercontent.com/Thorium/Owin.Compression/master/docs/files/img/logo.png
licenseUrl
    http://github.com/Thorium/Owin.Compression/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    OWIN SelfHost GZip Deflate compress pack self host file system pipeline Microsoft
	ASPNET ASP.NET Core Web API Kestrel
summary
    Compression (Deflate / GZip) module for Microsoft OWIN Selfhost filesystem pipeline.
	Supports also AspNetCore, for example running WebAPI on .NET6.0 and Kestrel.
description
    Compression (Deflate / GZip) module for Microsoft OWIN self host web server. With this module you can compress, deflate / gzip large files (like concatenated *.js or *.css files) to reduce amount of web traffic.
dependencies
  framework: net472
    Owin >= 1.0.0
    FSharp.Core >= LOCKEDVERSION
    Microsoft.Owin ~> LOCKEDVERSION
  framework: netstandard20
    FSharp.Core >= LOCKEDVERSION
    Microsoft.AspNetCore.Http.Abstractions >= LOCKEDVERSION-standard
    Microsoft.AspNetCore.Http.Features >= LOCKEDVERSION-standard
    Microsoft.Extensions.Primitives >= LOCKEDVERSION-standard
  framework: netstandard21
    FSharp.Core >= LOCKEDVERSION
    Microsoft.AspNetCore.Http.Abstractions >= LOCKEDVERSION-standard
    Microsoft.AspNetCore.Http.Features >= LOCKEDVERSION-standard
    Microsoft.Extensions.Primitives >= LOCKEDVERSION-standard
files
	../../bin/**/Owin.Compression.dll
	../../bin/**/Owin.Compression.xml
	../../bin/**/Owin.Compression.deps.json
